<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="page">
    <div class="filter">
<h1>Личный кабинет пользователя</h1>
    <h3>Cортировка, поиск, фильтрация</h3>
         <form th:method="POST" th:action="@{/person account/product/search}">
              <div class="filter_form">
                  <fieldset>
                       <legend>Выберите необходимые параметры:</legend>
                       <label for="search">Наименование</label>
                       <input type="text" id="search" name="search" th:value="*{value_search}" class="input">
                       <p>Цена, P</p>
                       <label for="ot">От</label>
                       <input type="text" name="ot" id="ot" th:value="*{value_price_ot}" class="input">
                       <label for="do">До</label>
                       <input type="text" name="do" id="do" th:value="*{value_price_do}" class="input">

                  <div>
                       <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                       <label for="ascending_price">Отсортировать по возрастанию цены</label>
                       <input type="radio" id="descending_price" name="price"
                             value="sorted_by_descending_price">
                       <label for="descending_price">Отсортировать по убыванию цены</label>

                       <p>Категория товаров: </p>
                       <input type="radio" id="furniture" name="contract" value="furniture">
                       <label for="furniture">Мебель</label>
                      <br>

                       <input type="radio" id="appliances" name="contract" value="appliances">
                       <label for="appliances">Бытовая техника</label>
                       <br>

                       <input type="radio" id="clothes" name="contract" value="clothes">
                       <label for="clothes">Одежда</label>
                      <br>
                      <input type="submit" value="Найти" class="submit_filter">
                  </div>
                </fieldset>
              </div>
        </form>
    </div>
    <div class="products">
        <div class="all_products">
        <h3>Результат поиска, cортировки, фильтрации</h3>

        <div th:each="product : ${search_product}"  class="imgItem">
             <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="img">
             <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
             <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>

       <h3>Доступные товары: </h3>

       <div th:each="product : ${products}"  class="imgItem">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="img">
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}  + ' рублей'"></p>
            <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
       </div>
       </div>
        <form method="post" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" class="submit">Выйти из личного кабинета</button>
        </form>

        <form method="get" th:action="@{/cart}">
            <button type="submit" class="submit">Перейти в корзину</button>
        </form>

        <form method="get" th:action="@{/orders}">
            <input type="submit" value="Мои заказы" class="submit">
        </form>

    </div>
    </div>>
</body>
</html>
