<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заказы</title>
  <link th:href="@{/css/orders.css}" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Мои заказы</h2>
    <div class="contain">
      <div th:each="order : ${orders}" class="imgItem">
      <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
      <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}">
      <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
      <p th:text="'Количество: ' + ${order.getCount()}">
      <p th:text="'Цена: ' + ${order.getPrice()}  + ' рублей'">
      <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
      <p th:text="'Cтатус: ' + ${order.getStatus()}">
     </div>
    </div>
  </div>
</body>
</html>